<div id="page-wrapper" class="page-wrapper">
  <div id="page">

    {% if page.header or page.primary_menu %}
      <header id="header" class="site-header" data-drupal-selector="site-header" role="banner">

        {# Gets fixed by JavaScript at wide widths. #}
        <div class="site-header__fixable" data-drupal-selector="site-header-fixable">
          {# Needs to extend full width so box shadow will also extend. #}
          <div id="site-header__inner" class="site-header__inner" data-drupal-selector="site-header-inner">
            <div class="container site-header__inner__container">

              {{ page.header }}

              {% if page.primary_menu %}
                <div class="header-nav-wrapper">
                  <div class="mobile-buttons" data-drupal-selector="mobile-buttons">
                    <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
                      <span class="mobile-nav-button__line mobile-nav-button__line-1"></span>
                      <span class="mobile-nav-button__line mobile-nav-button__line-2"></span>
                      <span class="mobile-nav-button__line mobile-nav-button__line-3"></span>
                    </button>
                  </div>

                  <div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
                    {{ page.primary_menu }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
    {% endif %}

    <div id="main-wrapper" class="layout-main-wrapper layout-container">
      <div id="main" class="layout-main">
        <div class="main-content">
          <a id="main-content" tabindex="-1"></a>
          {{ page.hero }}
          <div class="main-content__container container">

              <main role="main">
                {{ page.content }}
              </main>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="site-footer__inner container">
        {{ page.footer }}
      </div>
    </footer>

    <div class="overlay" data-drupal-selector="overlay"></div>

  </div>
</div>
